@media (max-width: 992px) {

    .header .menu {
        display: none;
    }

    .header .toggle_btn {
        display: block;
    }

    .personajes .container-personajes {
        display: flex;
        flex-wrap: wrap;
    }
}