@media (max-width: 992px) {

    .header .menu {
        display: none;
    }

    .header .toggle_btn {
        display: block;
    }

    .characters {
        background: var(--black);
        height: 260vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ships {
        height: 210vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .characters .container-characters,
    .ships .container-ships {
        display: flex;
        flex-wrap: wrap;
    }
}