@media (max-width: 992px) {

    .header .menu {
        display: none;
    }

    .header .toggle_btn {
        display: block;
    }

    .characters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin: auto;
    }

    .ships {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin: auto;
    }

    .characters .container-characters,
    .ships .container-ships {
        display: flex;
        flex-wrap: wrap;
    }
}
