@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    color: var(--white);
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --back : #040036;
    --blue-shadow : #05000f;
    --blue-light : #023bf7;
    --white : #fff;
    --black : #000;

    --yellow: #fae100;
    --dark-yellow: #998a00;
}

body {
    width: 100%;
    background: var(--black);
}

/*----  INICIO ---- */

/* HEADER */

.header {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);

    position: fixed;
    width: 100%;
}

.header .logo {
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.header .logo span {
    color: var(--blue-light);
}

.header .menu {
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    gap: 1.5rem;
}

.header .menu a {
    font-size: 1.2rem;
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

.header .menu a:hover {
    transform: scale(1.1);
    color: var(--blue-light);
    text-shadow: 0 0 50px var(--white);
}

.header .toggle_btn {
    display: none;
    font-size: 1.2rem;
}

/* -- dropdown_menu -- */

.dropdown_menu {
    position: absolute;
    top: 77px;
    right: 0;
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);

    display: none;
}

.open {
    display: flex;
}

.dropdown_menu a {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

/* MAIN */

.home {
    background: url('../img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 900px;
    padding: 2rem;
}

/* text content */

.container-home .content-text h3 {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 8px;
}

.container-home .content-text h2 {
    font-size: 3.2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5px;
}

.container-home .content-text p {
    font-size: 1.3rem;
    padding-bottom: 35px;
}

.container-home .content-text a {
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--yellow);
    border: 5px solid var(--dark-yellow);
    border-radius: 15px;
    padding: 16px 45px 10px 45px;
    transition: all 0.3s ease-in-out;
}

.container-home .content-text a:hover {
    box-shadow: 0 0 20px var(--white);
}

/*----  CHARACTERS ---- */

.characters {
    background: var(--black);
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characters .container-text {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem 1rem 1rem;
}

.characters .container-text .title {
    text-align: center;
}

.characters .container-text .title h3{
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.characters .container-text .title p{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.characters .container-characters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 1.5rem 2rem;
}

/*----  CHARACTERS items ---- */

.container-characters .item {
    background: url('../img/character-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 1.5rem;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container-characters .item:hover {
    box-shadow: 0 0 25px var(--white);
    transform: scale(1.1);
}

.container-characters .item h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.container-characters .item p {
    font-size: 1.1rem;
    font-weight: 500;
}

/*----  SHIPS ---- */

.ships {
    background: url('../img/space-01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.ships .title {
    padding: 4rem 1rem 1rem 1rem;
}

.ships .title h3{
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    font-weight: 600;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.ships .title p {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.ships .container-ships {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
}

/*----  SHIPS item ---- */

.ships .container-ships .item-ships {
    background: url('../img/character-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 1.5rem;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container-ships .item-ships:hover {
    box-shadow: 0 0 25px var(--white);
    transform: scale(1.1);
}





